In [20]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\de\appdata\local\programs\python\python311\lib\site-packages (4.0.39)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pyodbc

In [23]:
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'SQL Server Native Client 11.0',
 'SQLite3 ODBC Driver']

In [33]:
import pyodbc as odbc

connection_string = (
    "DRIVER={SQL Server};"
    "SERVER=UZAIR-PC\\SQLEXPRESS;"
    "DATABASE=mydatabase;"
    "Trust_Connection=yes;"
)


conn = odbc.connect(connection_string)
print(conn)

<pyodbc.Connection object at 0x000001C861929BD0>

In [37]:
# Define a SQL query to create a table
create_table_query = """
CREATE TABLE DummyTable (
    ID INT PRIMARY KEY,
    Name VARCHAR(255),
    Age INT
);
"""

# Execute the query to create the table
cursor = conn.cursor()
cursor.execute(create_table_query)
conn.commit()

In [38]:
# Define SQL queries to insert values
insert_query = "INSERT INTO DummyTable (ID, Name, Age) VALUES (?, ?, ?)"

# Data to be inserted
data_to_insert = [(1, 'John', 30), (2, 'Alice', 25), (3, 'Bob', 35)]

# Execute the insert queries
cursor = conn.cursor()
cursor.executemany(insert_query, data_to_insert)
conn.commit()

In [39]:
# Select all rows from the table
select_query = "SELECT * FROM DummyTable"
cursor = conn.cursor()
cursor.execute(select_query)
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'John', 30)
(2, 'Alice', 25)
(3, 'Bob', 35)

In [40]:
# Update a specific row
update_query = "UPDATE DummyTable SET Age = ? WHERE Name = ?"
cursor = conn.cursor()
cursor.execute(update_query, (31, 'John'))
conn.commit()

In [44]:
# Select the updated data
select_query = "SELECT * FROM DummyTable WHERE Name = 'John'"
cursor = conn.cursor()
cursor.execute(select_query)
row = cursor.fetchone()

if row:
    print("Updated Data:")
    print("ID:", row[0])
    print("Name:", row[1])
    print("Age:", row[2])
else:
    print("No data found for 'John'")

Updated Data:
ID: 1
Name: John
Age: 31

In [41]:
# Delete a specific row
delete_query = "DELETE FROM DummyTable WHERE Name = ?"
cursor = conn.cursor()
cursor.execute(delete_query, ('Alice',))
conn.commit()

In [45]:
# Select all remaining data in the table
select_query = "SELECT * FROM DummyTable"
cursor = conn.cursor()
cursor.execute(select_query)
rows = cursor.fetchall()

if len(rows) > 0:
    print("Remaining Data:")
    for row in rows:
        print("ID:", row[0])
        print("Name:", row[1])
        print("Age:", row[2])
else:
    print("The table is now empty.")

Remaining Data:
ID: 1
Name: John
Age: 31
ID: 3
Name: Bob
Age: 35